---
import Layout from '../layouts/Layout.astro';
import About from "../sections/about.astro";
import Experience from "../sections/experience.astro";
import Projects from "../sections/projects.astro";
import Skills from "../sections/skills.astro";
import Section from "../components/section.astro";
---

<Layout>
    <Section>
        <div class="flex flex-row gap-10 mb-8">
            <div class="w-24 h-20 rounded-full overflow-hidden shadow-lg">
                <img src="/dist/photos/profile_photo.jpg" class="w-full h-full object-cover" alt="Foto de perfil"/>
            </div>

            <div class="flex flex-row justify-between w-full">
                <div class="flex flex-col">
                    <p class="text-4xl font-semibold text-[#0fa79c]">Hola, soy Brandon Lopez</p>
                    <p class="text-2xl font-medium !m-0 text-[#0b7972]">Desarrollador De Web/Movil</p>
                </div>

                <div class="flex flex-row rounded-2xl items-center justify-center gap-10">
                    <a href="/dist/cvs/english_cv.pdf">
                        <div class="bg-[#002a2e] rounded-2xl p-3">
                            <img src="/dist/icons/cv_icon.svg" class="w-6 h-6" alt="CV Icon"/>
                        </div>
                    </a>

                    <a href="https://github.com/adarlpz">
                        <div class="bg-[#002a2e] rounded-2xl p-3">
                            <img src="/dist/icons/download_icon.svg" class="w-6 h-6" alt="Download Icon"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-row gap-5 justify-start">
            <a href="https://github.com/adarlpz">
                <div class="bg-[#002a2e] rounded-2xl p-3">
                    <img src="/dist/logos/github_logo.svg" class="w-6 h-6" alt="GitHub Logo"/>
                </div>
            </a>
            <a href="https://linkedin.com/in/adarlpz">
                <div class="bg-[#002a2e] rounded-2xl p-3">
                    <img src="/dist/logos/linkedin_logo.svg" class="w-6 h-6" alt="LinkedIn Logo"/>
                </div>
            </a>
            <a href="mailto:tuemail@example.com">
                <div class="bg-[#002a2e] rounded-2xl p-3">
                    <img src="/dist/icons/email_icon.svg" class="w-6 h-6" alt="Email Icon"/>
                </div>
            </a>
            <a href="tel:+521234567890">
                <div class="bg-[#002a2e] rounded-2xl p-3">
                    <img src="/dist/icons/phone_icon.svg" class="w-6 h-6" alt="Phone Icon"/>
                </div>
            </a>
            <a href="https://maps.google.com">
                <div class="bg-[#002a2e] rounded-2xl p-3">
                    <img src="/dist/icons/map_icon.svg" class="w-6 h-6" alt="Map Icon"/>
                </div>
            </a>
        </div>
    </Section>

    <About/>
    <Experience/>
    <Projects/>
    <Skills/>
</Layout>