---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="grid grid-cols-1 md:grid-cols-2 gap-8 p-6 max-w-screen-lg mx-auto">
		<!-- Perfil de la imagen -->
		<div class="flex justify-center items-center">
			<img src="/dist/img/cuadrada.jpg" class="w-56 h-56 rounded-full object-cover border-4 border-white shadow-lg" alt="Foto de perfil" />
		</div>

		<!-- Información del perfil -->
		<div class="text-white space-y-6">
			<!-- Barra de información -->
			<div class="space-y-4">
				<div class="flex items-center space-x-4">
					<a href="https://github.com/adarlpz">
						<img src="/dist/img/github_logo_white.svg" class="w-6 h-6" alt="GitHub Logo" />
					</a>
					<p class="text-2xl font-semibold">BRANDON ADAIR LOPEZ LOPEZ</p>
				</div>

				<div class="flex items-center space-x-4">
					<a href="https://github.com/adarlpz">
						<img src="/dist/img/github_logo_white.svg" class="w-6 h-6" alt="GitHub Logo" />
					</a>
					<p class="text-lg">08/05/2006</p>
				</div>

				<div class="flex items-center space-x-4">
					<a href="https://github.com/adarlpz">
						<img src="/dist/img/maps_icon.svg" class="w-6 h-6" alt="Location Icon" />
					</a>
					<p class="text-lg">Jalisco, Mx.</p>
				</div>

				<div class="flex items-center justify-between">
					<div class="flex items-center space-x-4">
						<a href="mailto:adarlopz.dev@gmail.com">
							<img src="/dist/img/github_logo_white.svg" class="w-6 h-6" alt="Email Icon" />
						</a>
						<p class="text-lg">adarlopz.dev@gmail.com</p>
					</div>
					<a href="mailto:adarlopz.dev@gmail.com">
						<img src="/dist/img/copy_icon.svg" class="w-5 h-5 cursor-pointer" alt="Copy Email" />
					</a>
				</div>

				<div class="flex items-center space-x-4">
					<a href="tel:3330362181">
						<img src="/dist/img/github_logo_white.svg" class="w-6 h-6" alt="Phone Icon" />
					</a>
					<p class="text-lg">33 3036 2181</p>
				</div>

				<!-- Redes sociales -->
				<div class="flex space-x-6">
					<a href="https://github.com/adarlpz">
						<img src="/dist/img/github_logo_white.svg" class="w-6 h-6" alt="GitHub" />
					</a>
					<a href="https://www.linkedin.com/in/adarlpz">
						<img src="/dist/img/linkedin_logo.svg" class="w-6 h-6" alt="LinkedIn" />
					</a>
				</div>
			</div>

			<!-- Descripción -->
			<div>
				<p class="text-xl font-semibold">
					Busco oportunidades para adquirir experiencia profesional que complemente mis estudios en desarrollo de software, diseño de interfaces y mantenimiento de computadoras.
				</p>
			</div>
		</div>
	</div>
</Layout>

<style>
	/* Personalización opcional si deseas ajustar algo más específico */
	.profile_picture {
		width: 250px;
		border-radius: 50%;
	}
</style>
