---
import ExperienceItem from "./ExperienceItem.astro";
import { experiences } from "../data/index.js";
---

<div class="relative ml-4 sm:ml-16 md:ml-[5.5rem]">
    <div class="absolute left-0 top-0 bottom-0 w-[2px] sm:w-[4px] bg-accent rounded-full"></div>
    {experiences.map((exp) => <ExperienceItem {...exp} />)}
</div>

