---
const { id, extraClass = "", padding = "true" } = Astro.props;
const paddingClass = padding === "false" ? "p-0" : "px-2 py-4 sm:px-4 sm:py-6 md:p-8";
---
<section id={id} class={`flex flex-col ${paddingClass} ${extraClass}`}>
    <slot />
</section>
