---
const { imageSrc, imageAlt, title } = Astro.props;
---

<div class="flex flex-row gap-10 mb-8 items-center">
  <div class="flex items-center justify-center">
    <img src={imageSrc} alt={imageAlt} class="w-12" />
  </div>
  <div>
    <p class="text-4xl font-semibold text-white">{title}</p>
  </div>
</div>