---
const { imageSrc: Icon, title } = Astro.props;
import Section from "./section.astro";
---
<Section extraClass="flex flex-row gap-4 sm:gap-6 md:gap-10 mb-6 sm:mb-8 items-center" padding="false">
    <Section extraClass="flex items-center justify-center" padding="false">
        <Icon class="w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 transition-all duration-300 text-title"/>
    </Section>
    <Section padding="false">
        <p class="text-2xl sm:text-3xl md:text-4xl font-semibold text-title">{title}</p>
    </Section>
</Section>
