---
const { imageSrc: Icon, title } = Astro.props;
---
<div class="flex flex-row gap-10 mb-8 items-center">
    <div class="flex items-center justify-center">
        <Icon class="w-12" alt=""/>
    </div>
    <div>
        <p class="text-4xl font-semibold text-primary">{title}</p>
    </div>
</div>