---
import TitleSection from "../components/titleSection.astro";
import Section from "../components/section.astro";
---

<Section id="about">
    <TitleSection
            imageSrc="/dist/icons/profile_icon.svg"
            imageAlt="Ãcono de perfil"
            title="Sobre Mi"
    />
    <div>
        <p class="text-2xl font-medium !m-0 text-white">Developer in training, with no professional experience but a
            great passion for programming and technology. Motivated by my learning, eager to grow and contribute my
            knowledge to innovative projects.</p>
    </div>
</Section>