---
import TitleSection from "/src/components/titleSection.astro";
import Section from "/src/components/section.astro";
import Text from "/src/components/text.astro";
import Profile_icon from "../assets/icons/profile_icon.svg";
---
<Section id="about" mt="true" mb="true">
    <TitleSection imageSrc={Profile_icon} title="Sobre Mi"/>
    <Section>
        <Text text="Desarrollador en formación, sin experiencia profesional pero con una gran pasión por la programación y la tecnología. Motivado por el aprendizaje, con ganas de crecer y aportar mis conocimientos a proyectos innovadores." type="text" />
    </Section>
</Section>