---
import Epam from "./experiences/epam.astro";
import Freelance from "./experiences/freelance.astro";
import TitleSection from "../components/titleSection.astro";
import Section from "../components/section.astro";
---

<Section id="experience">
    <TitleSection
            imageSrc="/dist/icons/portfolio_icon.svg"
            imageAlt="Ãcono de perfil"
            title="Experiencia"
    />
    <div class="container mx-auto">
        <div class="relative border-l-4 border-primary ml-5">
            <Freelance/>
        </div>
    </div>
</Section>