---
import ExperienceItem from "../components/ExperienceItem.astro";
import TitleSection from "../components/titleSection.astro";
import Section from "../components/section.astro";
import Cv_icon from "../assets/icons/cv_icon.svg";
import { experiences } from "../data/portfolio.js";
---

<Section id="experience" mt="true" mb="true">
    <TitleSection imageSrc={Cv_icon} title="Experiencia" />
    <div class="max-w-4xl mx-auto px-4 sm:px-6">
        <div class="relative border-l-2 border-accent/30 ml-4 py-8 space-y-0">
            {experiences.map((exp) => <ExperienceItem {...exp} />)}
        </div>
    </div>
</Section>
