---
import Freelance from "./experiences/freelance.astro";
import TitleSection from "/src/components/titleSection.astro";
import Section from "/src/components/section.astro";
---
<Section id="experience" mt="true" mb="true">
    <TitleSection imageSrc="/src/assets/icons/portfolio_icon.svg" imageAlt="Ãcono de perfil" title="Experiencia"/>
    <div class="container mx-auto">
        <div class="relative border-l-4 border-primary ml-5">
            <Freelance/>
        </div>
    </div>
</Section>