---
import { Image } from "astro:assets";
import Section from "../components/section.astro";
import ButtonToolTip from "../components/buttonToolTip.astro";
import Text from "../components/text.astro";
import Profile_Photo from "../assets/photos/profile_photo.jpg";
import { socialLinks } from "../data/portfolio.js";
---

<Section extraClass="mt-12 sm:mt-16 md:mt-24">
    <div class="flex flex-col sm:flex-row items-center gap-6 sm:gap-10">
        <div class="w-24 h-24 sm:w-32 sm:h-32 rounded-full overflow-hidden shadow-lg flex-shrink-0">
            <Image src={Profile_Photo} alt="" class="object-cover w-full h-full" />
        </div>
        <div class="flex flex-col items-center sm:items-start text-center sm:text-left gap-4">
            <div>
                <Text type="title" text="Hola, soy adardev" i18nKey="heroTitle" />
                <Text type="subTitle" text="Desarrollador de Software y Especialista en Sistemas" i18nKey="heroSubtitle" />
            </div>
            <div class="flex flex-row items-center gap-2 sm:gap-5 justify-start w-fit">
                <div class="flex flex-row gap-2 sm:gap-5">
                    {socialLinks.map((social) => <ButtonToolTip {...social} />)}
                </div>
                <div class="shrink-0 w-[2px] h-8 bg-border-accent/30 self-center mx-1"></div>
                <ButtonToolTip iconSrc="/icons/cv_icon.svg" label="Ver curriculum Vitae" link="/cvs/adardevCV.pdf" i18nKey="heroCV" />
            </div>
        </div>
    </div>
</Section>
