---
import TitleSection from "../components/titleSection.astro";
import Section from "../components/section.astro";
---

<Section id="projects">
    <TitleSection
            imageSrc="/dist/icons/code_icon.svg"
            imageAlt="Ícono de perfil"
            title="Proyectos"
    />

    <div class="w-full max-w-[1400px] px-4 mx-auto flex flex-col gap-10 items-center justify-center">

        <!-- Proyecto 1 -->
        <div class="w-full bg-backgroundPrimary rounded-2xl p-5 flex flex-col md:flex-row gap-6 shadow-xl">

            <!-- Imagen del proyecto -->
            <div class="w-full md:w-1/2 h-[250px] bg-white rounded-xl overflow-hidden flex items-center justify-center">
                <img src="/dist/images/proyecto1_demo.png" alt="Preview Densora" class="object-cover w-full h-full"/>
            </div>

            <!-- Detalles del proyecto -->
            <div class="w-full md:w-1/2 flex flex-col gap-4 justify-between">
                <div class="flex flex-row justify-between flex-wrap">
                    <div class="flex flex-row items-center gap-5">
                        <img src="/dist/logos/adarlpz_logo.svg" width="50px" alt="Logo"/>
                        <p class="text-3xl font-semibold text-white">Densora</p>
                    </div>
                    <div class="flex flex-row mt-4 sm:mt-0">
                        <div class="flex flex-row gap-2">
                            <img src="/dist/logos/android_logo.svg" width="30px" alt="Android"/>
                            <img src="/dist/logos/iOS_logo.svg" width="30px" alt="iOS"/>
                        </div>
                        <div class="w-[2px] h-auto rounded-2xl bg-white mx-4"></div>
                        <div class="flex flex-row gap-2">
                            <img src="/dist/logos/nodejs_logo.svg" width="30px" alt="NodeJS"/>
                            <img src="/dist/logos/tailwind_logo.svg" width="30px" alt="Tailwind"/>
                            <img src="/dist/logos/csharp_logo.svg" width="30px" alt="C#"/>
                        </div>
                    </div>
                </div>

                <p class="text-white text-justify text-lg">
                    Plataforma completa para gestión de citas y entregas en el sector odontológico. Disponible en
                    Android, iOS y web.
                </p>

                <div class="flex justify-between">
                    <div class="flex bg-backgroundSecondary px-4 py-2 rounded-2xl gap-3 items-center cursor-pointer hover:brightness-150 transition-colors">
                        <img src="/dist/logos/github_logo.svg" width="25px" alt="GitHub"/>
                        <p class="text-white font-semibold">Ver código</p>
                    </div>
                    <div class="flex bg-backgroundSecondary px-4 py-2 rounded-2xl gap-3 items-center cursor-pointer hover:brightness-150 transition-colors">
                        <img src="/dist/icons/web_icon.svg" class="w-[25px]" alt="Sitio Web"/>
                        <p class="text-white font-semibold">Visitar</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Proyecto 2 -->
        <div class="w-full bg-backgroundPrimary rounded-2xl p-5 flex flex-col md:flex-row gap-6 shadow-xl">

            <!-- Imagen del proyecto -->
            <div class="w-full md:w-1/2 h-[250px] bg-white rounded-xl overflow-hidden flex items-center justify-center">
                <img src="/dist/images/proyecto2_demo.png" alt="Preview Tekkure" class="object-cover w-full h-full"/>
            </div>

            <!-- Detalles del proyecto -->
            <div class="w-full md:w-1/2 flex flex-col gap-4 justify-between">
                <div class="flex flex-row justify-between flex-wrap">
                    <div class="flex flex-row items-center gap-5">
                        <img src="/dist/logos/adarlpz_logo.svg" width="50px" alt="Logo"/>
                        <p class="text-3xl font-semibold text-white">Tekkure</p>
                    </div>
                    <div class="flex flex-row mt-4 sm:mt-0">
                        <div class="flex flex-row gap-2">
                            <img src="/dist/logos/windows_logo.svg" width="30px" alt="Windows"/>
                        </div>
                        <div class="w-[2px] h-auto rounded-2xl bg-white mx-4"></div>
                        <div class="flex flex-row gap-2">
                            <img src="/dist/logos/c++_logo.svg" width="30px" alt="C++"/>
                            <img src="/dist/logos/astro_logo.svg" width="30px" alt="Astro"/>
                            <img src="/dist/logos/react_logo.svg" width="30px" alt="React"/>
                        </div>
                    </div>
                </div>

                <p class="text-white text-justify text-lg">
                    Aplicación híbrida de escritorio y web para gestión de hardware especializado con sincronización en
                    tiempo real.
                </p>

                <div class="flex justify-between">
                    <div class="flex bg-backgroundSecondary px-4 py-2 rounded-2xl gap-3 items-center cursor-pointer hover:brightness-150 transition-colors">
                        <img src="/dist/logos/github_logo.svg" width="25px" alt="GitHub"/>
                        <p class="text-white font-semibold">Ver código</p>
                    </div>
                    <div class="flex bg-backgroundSecondary px-4 py-2 rounded-2xl gap-3 items-center cursor-pointer hover:brightness-150 transition-colors">
                        <img src="/dist/icons/web_icon.svg" class="w-[25px]" alt="Sitio Web"/>
                        <p class="text-white font-semibold">Visitar</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</Section>
