---
import TitleSection from "/src/components/titleSection.astro";
import Section from "/src/components/section.astro";
import Text from "/src/components/text.astro";
---
<Section id="skills">
    <TitleSection imageSrc="/src/assets/icons/portfolio_icon.svg" imageAlt="Ãcono de perfil" title="Habilidades"/>
    <div class="flex flex-row justify-center">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4 rounded-tl-3xl rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24  transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl  p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/cpp_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-backgroundSecondary rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="C++" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/csharp_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="C#" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/python_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Python" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 pr-12 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/js_logo.svg" class="w-16 h-16 " alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="JavaScript" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 mb-0 p-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/php_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="PHP" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 mb-0 p-4 rounded-tr-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/dart_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Dart" type="text" />
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-center ml-8">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 my-0 p-4 gap-4 rounded-tl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/astro_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Astro" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 my-0 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/react_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="React" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 my-0 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/nodejs_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Node.js" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 my-0 p-4 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/electron_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Electron" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 p-4 mr-0 my-0 gap-4 rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/kotlin_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Kotlin" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 p-4 ml-0 my-0 gap-4 rounded-br-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/java_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Java" type="text" />
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-center">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 pt-12 gap-4 rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/flutter_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Flutter" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 ml-0 mt-0 p-4 pt-12 gap-4 rounded-br-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/django_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Django" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 p-4 gap-4 rounded-tl-3xl rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/html5_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="HTML" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 p-4 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/css3_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="CSS" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 p-4 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/tailwind_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Tailwind" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 p-4 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/bootstrap_logo.svg" class="w-16 " alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Bootstrap" type="text" />
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-center">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4  gap-4 rounded-l-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/sql_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="SQL" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4  gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/supabase_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Supabase" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/firebase_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Firebase" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 ml-0 mt-0 p-4 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/mongodb_logo.svg" class="h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="MongoDB" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4 rounded-l-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/figma_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Figma" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mr-0 mx-0 mt-0 p-4 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/mockflow_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="MockFlow" type="text" />
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-center ml-8">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mb-0 p-4 mt-0 gap-4  rounded-l-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/git_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Git" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 mx-0 mt-0 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/docker_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Docker" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 ml-0 p-4 mt-0 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/notion_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Notion" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 mx-0 p-4 mt-0 gap-4 rounded-tl-3xl rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/ilustrator_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Ilustrator" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 mx-0 p-4 mt-0 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/photoshop_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Photoshop" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 ml-0 mb-0 p-4 mt-0 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/xd_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="XD" type="text" />
                    </div>
                </div>
            </a>
        </div>
    </div>
</Section>