---
import TitleSection from "../components/titleSection.astro";
import Section from "../components/section.astro";
import Text from "../components/text.astro";
import Portfolio_icon from "../assets/icons/portfolio_icon.svg";
import Cpp_logo from "../assets/logos/cpp_logo.svg";
import Csharp from "../assets/logos/csharp_logo.svg";
import Python from "../assets/logos/python_logo.svg";
import Php_logo from "../assets/logos/php_logo.svg";
import Java_logo from "../assets/logos/java_logo.svg";
import Docker_logo from "../assets/logos/docker_logo.svg";
import Xd_logo from "../assets/logos/xd_logo.svg";
import Photoshop_logo from "../assets/logos/photoshop_logo.svg";
import Ilustrator_logo from "../assets/logos/ilustrator_logo.svg";
import Notion_logo from "../assets/logos/notion_logo.svg";
import Dart_logo from "../assets/logos/dart_logo.svg";
import Astro_logo from "../assets/logos/astro_logo.svg";
import React_logo from "../assets/logos/react_logo.svg";
import Nodejs_logo from "../assets/logos/nodejs_logo.svg";
import Electron_logo from "../assets/logos/electron_logo.svg";
import Kotlin_logo from "../assets/logos/kotlin_logo.svg";
import Flutter_logo from "../assets/logos/flutter_logo.svg";
import Django_logo from "../assets/logos/django_logo.svg";
import Html5_logo from "../assets/logos/html5_logo.svg";
import Css3_logo from "../assets/logos/css3_logo.svg";
import Tailwind_logo from "../assets/logos/tailwind_logo.svg";
import Bootstrap_logo from "../assets/logos/bootstrap_logo.svg";
import Sql_logo from "../assets/logos/sql_logo.svg";
import Supabase_logo from "../assets/logos/supabase_logo.svg";
import Firebase_logo from "../assets/logos/firebase_logo.svg";
import Mongodb_logo from "../assets/logos/mongodb_logo.svg";
import Figma_logo from "../assets/logos/figma_logo.svg";
import Mockflow_logo from "../assets/logos/mockflow_logo.svg";
import Git_logo from "../assets/logos/git_logo.svg";
import Js_logo from "../assets/logos/js_logo.svg";
---
<Section id="skills" mt="true" mb="true">
    <TitleSection imageSrc={Portfolio_icon} title="Habilidades"/>
    <div class="flex flex-row justify-center">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4 rounded-tl-3xl rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24  transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl  p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Cpp_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-backgroundSecondary rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="C++" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Csharp class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="C#" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Python class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Python" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 pr-12 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Js_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="JavaScript" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 mb-0 p-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Php_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="PHP" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 mb-0 p-4 rounded-tr-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Dart_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Dart" type="text" />
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-center ml-0">
        <div class="flex flex-row bg-[#002a2e] m-8 ml-0 mx-0 my-0 p-4 gap-4 rounded-tl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Astro_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Astro" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 my-0 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <React_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="React" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 my-0 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Nodejs_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Node.js" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 my-0 p-4 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Electron_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Electron" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mr-0 ml-8 my-0 p-4 gap-4 rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Kotlin_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Kotlin" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 ml-0 p-4 mr-0 my-0 gap-4 rounded-br-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Java_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Java" type="text" />
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-center">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 pt-12 gap-4 rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Flutter_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Flutter" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 ml-0 mt-0 p-4 pt-12 gap-4 rounded-br-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Django_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Django" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 p-4 gap-4 rounded-tl-3xl rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Html5_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="HTML" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 p-4 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Css3_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="CSS" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 p-4 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Tailwind_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Tailwind" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 p-4 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Bootstrap_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Bootstrap" type="text" />
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-center">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4  gap-4 rounded-l-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Sql_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="SQL" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4  gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Supabase_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Supabase" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Firebase_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Firebase" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 ml-0 mt-0 p-4 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Mongodb_logo class="h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="MongoDB" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4 rounded-l-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Figma_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Figma" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mr-0 mx-0 mt-0 p-4 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Mockflow_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="MockFlow" type="text" />
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-center ml-0">
        <div class="flex flex-row bg-[#002a2e] m-8 ml-0 mx-0 mb-0 p-4 mt-0 gap-4  rounded-l-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Git_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Git" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 mx-0 mt-0 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Docker_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Docker" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 ml-0 p-4 mt-0 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Notion_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Notion" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 mx-0 p-4 mt-0 gap-4 rounded-tl-3xl rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Ilustrator_logo class="w-16 h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Ilustrator" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 mx-0 p-4 mt-0 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-20 h-20 md:w-24 md:h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-3 md:p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Photoshop_logo class="w-12 h-12 md:w-16 md:h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-3 md:p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="Photoshop" type="text" />
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 mx-0 p-4 mt-0 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-20 h-20 md:w-24 md:h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-3 md:p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <Xd_logo class="w-12 h-12 md:w-16 md:h-16" />
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-3 md:p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <Text text="XD" type="text" />
                    </div>
                </div>
            </a>
        </div>
    </div>
</Section>