---
import TitleSection from "/src/components/titleSection.astro";
import Section from "/src/components/section.astro";
---
<Section id="skills">
    <TitleSection imageSrc="/src/assets/icons/portfolio_icon.svg" imageAlt="Ãcono de perfil" title="Habilidades"/>
    <div class="flex flex-row justify-center">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4 rounded-tl-3xl rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24  transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl  p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/cpp_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-backgroundSecondary rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">C++</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/csharp_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">C#</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/python_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Python</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 pr-12 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/js_logo.svg" class="w-16 h-16 " alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">JavaScript</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 mb-0 p-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/php_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">PHP</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 mb-0 p-4 rounded-tr-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/dart_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Dart</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-center ml-8">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 my-0 p-4 gap-4 rounded-tl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/astro_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Astro</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 my-0 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/react_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">React</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 my-0 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/nodejs_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Node.js</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 my-0 p-4 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/electron_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Electron</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 p-4 mr-0 my-0 gap-4 rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/kotlin_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Kotlin</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 p-4 ml-0 my-0 gap-4 rounded-br-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/java_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Java</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-center">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 pt-12 gap-4 rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/flutter_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Flutter</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 ml-0 mt-0 p-4 pt-12 gap-4 rounded-br-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/django_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Django</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 p-4 gap-4 rounded-tl-3xl rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/html5_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">HTML</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 p-4 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/css3_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">CSS</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 p-4 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/tailwind_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Tailwind</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 p-4 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/bootstrap_logo.svg" class="w-16 " alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Bootstrap</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-center">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4  gap-4 rounded-l-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/sql_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">SQL</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4  gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/supabase_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Supabase</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/firebase_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Firebase</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 ml-0 mt-0 p-4 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/mongodb_logo.svg" class="h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">MongoDB</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mt-0 p-4 gap-4 rounded-l-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/figma_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Figma</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mr-0 mx-0 mt-0 p-4 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/mockflow_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">MockFlow</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-row justify-center ml-8">
        <div class="flex flex-row bg-[#002a2e] m-8 mx-0 mb-0 p-4 mt-0 gap-4  rounded-l-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/git_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Git</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 mx-0 mt-0 p-4 gap-4">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/docker_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Docker</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 ml-0 p-4 mt-0 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/notion_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>
                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Notion</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 mx-0 p-4 mt-0 gap-4 rounded-tl-3xl rounded-bl-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/ilustrator_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Ilustrator</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 mb-0 mx-0 p-4 mt-0 gap-4 ">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/photoshop_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">Photoshop</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="flex flex-row bg-[#002a2e] m-8 ml-0 mb-0 p-4 mt-0 gap-4 rounded-r-3xl">
            <a class="group [perspective:1000px] cursor-pointer">
                <div class="relative w-24 h-24 transition-transform duration-500 [transform-style:preserve-3d] group-hover:[transform:rotateY(180deg)]">

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [backface-visibility:hidden]">
                        <img src="/src/assets/logos/xd_logo.svg" class="w-16 h-16" alt="Angular Logo"/>
                    </div>

                    <div class="absolute inset-0 bg-[#003b41] rounded-2xl p-4 flex items-center justify-center [transform:rotateY(180deg)] [backface-visibility:hidden]">
                        <p class="text-primary text-lg font-semibold">XD</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</Section>