---
import '../styles/global.css';
import {ClientRouter} from 'astro:transitions';
---

<html class="bg-[#000f17] h-full flex flex-col scroll-smooth" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/dist/logos/tekkure_logo.svg" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">

    <meta name="generator" content={Astro.generator}/>
    <title>adarlpz</title>
    <ClientRouter/>
</head>
<body class="bg-[#000f17] min-h-screen flex flex-col scroll-smooth">

<header class="fixed top-0 left-0 w-full z-50 bg-[#000f17] flex flex-row justify-between items-center px-[20rem] py-5">
    <div>
        <a href="/">
            <img src="/dist/logos/adarlpz_logo.svg" class="w-12 h-12" alt="Imagen">
        </a>
    </div>
    <div class="flex flex-row gap-12">
        <a href="/">
            <p class="text-xl font-bold !m-0 text-[#0fa79c]">Inicio</p>
        </a>
        <a href="#about">
            <p class="text-xl font-bold !m-0 text-[#0b7972]">Sobre Mi</p>
        </a>
        <a href="#experience">
            <p class="text-xl font-bold !m-0 text-[#0b7972]">Experiencia</p>
        </a>
        <a href="#projects">
            <p class="text-xl font-bold !m-0 text-[#0b7972]">Proyectos</p>
        </a>
        <a href="#skills">
            <p class="text-xl font-bold !m-0 text-[#0b7972]">Habilidades</p>
        </a>
    </div>
    <a href="/">
        <img src="/dist/flags/mexico_flag.svg" class="w-12" alt="Imagen">
    </a>
</header>

<main class="pt-[5.5rem] flex flex-col mx-[20rem]">
    <slot/>
</main>

</body>
</html>